<div class="login-window">
    <div>
        <a href="/"><img class="logo-login" src="../images/doners-logo.svg" alt="doners_of_berlin_logo" /></a>
    </div>
    <h1>Login</h1>
    <div class="login-form">
        <form action="/login" method="POST">
        <fieldset>
            <label for="username" class="input-review"></label>Username:</label>
            <input type="text" name="username" id="username" class="input-review">
            <label for="password" class="input-review">Password:</label>
            <input type="password" name="password" id="password" class="input-review">
            <button class="opinion-btn" type="submit">Log in</button>
            <span class="account-message">Don't have an account yet?<a href="/signup"> Signup</a></span>
        </fieldset>
        </form>
        {{#if errorMessage}}
        <p style="color: red">{{errorMessage}}</p>
        {{/if}}
    </div>
</div>