<div>
  <div class="title">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>

  
<div class="left-menu">
  <p><a href="/signup">Sign Up</a></p>
  <p><a href="/login">Log In</a></p>
  <p><a href="/logout">Log Out</a></p>
</div>

<div class="maps">
      <div id="map"></div>
      <script src="/javascripts/mapbox.js"></script>
</div>
