<div>
  <div class="title">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>

  <div>

    <div class="left-menu">
      
    </div>

    <div class="maps">
      <div id="map"></div>
      <script src="/javascripts/mapbox.js"></script>
    </div>

  </div>

</div>