 {{!-- name: String,
 address1: String,
 address2: String,
 postcode: Number,
 city: String,
 telephone: Number,
 coordinates: [],
 Photographs: Array,
 menuItems: [{
   fooditem: String,
   price: Number,
 }],
 reviews: [{
   reviewername: String,
   review: String
 }],
 imgurl: [String],
}); --}}


 <form action="/restauran/{{shopsList.id}}/edit" method="POST">
  <fieldset>
       <p>Name:<input type="text" name='name'></p>
       <p>address:<input type="text" name='address1'></p>
       <p>address2:<input type="text" name='address2'></p>
       <p>postcode:<input type="text" name='postcode'></p>
       <p>city:<input type="text" name='city'></p>
       <p>phone:<input type="text" name='telephone'></p>
       <p>coordinates:<input type="text" name='coordinates'></p>
       <p>coordinates:<input type="text" name='coordinates'></p>



        <p><button>Submit</button></p>
      </fieldset>
    </form>

