<div class="rest-window">
    <div>
        <a href="/"><img class="logo-add-rest" src="/images/doners-logo.svg" alt="doners_of_berlin_logo" /></a>
    </div>
    <h1>Edit a restaurant</h1>
    <div class="rest-form">
        <div class="rest-form-left">
            <form action="/restauran/{{shopsList.id}}/edit" method="POST">
                <fieldset>
                    <p>Name:<input type="text" name='name' class="input-review"></p>
                    <p>Address line 1:<input type="text" name='address1' class="input-review"></p>
                    <p>City:<input type="text" name='city' class="input-review"></p>
                    <p>Longitude:<input type="text" name='coordinates' class="input-review"></p>
        </div>

        <div class="rest-form-right">
            <p>Phone No:<input type="text" name='telephone' class="input-review"></p>
            <p>Address line 2:<input type="text" name='address2' class="input-review"></p>
            <p>Postcode:<input type="text" name='postcode' class="input-review"></p>
            <p>Latitude:<input type="text" name='coordinates' class="input-review"></p>
        </div>
        </fieldset>
        </form>

    </div>
    <p><button style="width:300px" class="opinion-btn">Submit changes</button></p>
</div>