<div class="header">
    <div>
      <img class="doner" src="./images/doner_logo.jpg" alt="doner_logo"/>
    </div>
     <div>
           <h1>{{title}}</h1>
      </div>
    <nav class="nav-bar">
      <ul>
        <li><a class="button_cont" href="/"> Home </a></li>
        <li><a class="button_cont" href="/signup"> Sign Up </a></li>
        <li><a class="button_cont" href="/login"> Log In </a></li>
        <li><a href="/logout"><img class="logout-icon" src="./images/logout-icon.svg" alt="logout"/></a><li>      </ul>
    </nav>
</div>


<div class="signup-login-body">

<h1>Login</h1>
<form action="/login" method="POST">
 <div>
 <label for="username">Username:</label>
 <input type="text" name="username" id="username">
 </div>
 
 <div>
 <label for="password">Password:</label>
 <input type="password" name="password" id="password">
 </div>

 <div>
 <button type="submit">Log in</button>
 </div>
 <p class="account-message">
  Don't have an account yet?
  <a href="/signup">Signup</a>
 </p>
 

</form>
 
{{#if errorMessage}}
  <p style="color: red">{{errorMessage}}</p>
{{/if}}

</div>